[Desktop Entry]
Name=UniScape
Comment=Convert strings to unicode
# Exec=uniscape.gui
Exec=uniscape
Terminal=false
Type=Application
StartupNotify=false
Icon=${SNAP}/meta/gui/uniscape.svg
# Icon=snap.uniscape.gui
Categories=Utility;
Keywords=Unicode;Convert;Lookup;Reference;
StartupWMClass=uniscape
