[Desktop Entry]
Name=UniScape
Comment=Convert strings to unicode
Exec=uniscape.gui
Terminal=false
Type=Application
StartupNotify=false
Icon=${SNAP}/meta/gui/uniscape.svg
Categories=Utility;
Keywords=Unicode;Convert;
